<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/company.css">
    <title>Company</title>
</head>
<body>
    
    

    <section class="sec1">
    
        <input type="checkbox" id="check">
        
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
    
        </label>
        
        <div class="sidebar">
            <header>Dashboard </header>
            <ul>
                <li><a href="http://127.0.0.1:5500/views/Overview.html"><i class="fas fa-qrcode"></i>Overview</a></li>
                <li><a href="http://127.0.0.1:5500/views/cover.html"><i class="fas fa-link"></i>Cover</a></li>
                <li><a href="#"><i class="fas -solid fa-building"></i>Company</a></li>
                <li><a href="http://127.0.0.1:5500/views/Executive-summary.html"><i class="fas fa-calendar-week"></i>Excutive-summary</a></li>
                <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
            </ul>
        </div>
    
        <div class="header-text">
            
            <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->
            
            <h1>
                Avary <span>Support</span> Team
            </h1>
        </div>
    </section> 

<Section>
    <div class="section-header">
        <div class="text">
            <h1>
                Company Overview
            </h1>

            <p>
                Your Company Overview section provides a snapshot of your company since its inception.
            </p>
        </div>

    <form action="">

        <div class="text1">
            <h1>
                Is your business already in operation?
            </h1>

        

            <input type="radio" name="gender"  value="Yes" id="Yes">Yes
            
            <input type="radio" name="gender" value="No" id="No">No
        </div>
    </form>


    <select name="month" id="Date">
       <option value="month">Month</option>
       <option value="january">January</option>
       <option value="february">February</option>
       <option value="match">Match</option>
       <option value="april">April</option>
       <option value="may">May</option>
       <option value="june">June</option>
       <!-- <option value="july">July</option>
       <option value="august">August</option>
       <option value="september">September</option>
       <option value="october">October</option>
       <option value="november">November</option>
       <option value="december">December</option> -->
    </select>

     <select name="days" id="Date1">
        <option value="days">days</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select> 

     <select name="year" id="Date2">
        <option value="year">year</option>
        <option value="month">1985</option>
    </select>
    
    
    <div class="form3">
        <a href="http://127.0.0.1:5500/views/cover.html"><button class="btnn">Back to Business Plan</button></a>
        <a href="http://127.0.0.1:5500/views/Executive-summary.html"><button class="btn" onclick="text()">Save & Next</button></a>
    </div>

 

   
    </div>


</Section>

<script src="../Js-folder/company.js"></script>
</body>

</html>