<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./lib/contact.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <img src="./images/TEAM.D-c4f2a370.png" alt="" class="image">

        <div class="text-header">
            <h1 class="text">
                Avary Business Support Team
            </h1>
        

        <nav class="nav_bar">
            <ul>
                <li class="navlist"><a href="file:///C:/Users/USER/Capstone-Project-2024/First-Project/sign-up.html?" class="navitems">Sign-up</a></li>
                <li class="navlist"><a href="file:///C:/Users/USER/Capstone-Project-2024/First-Project/sign-in.html" class="navitems">Log-in</a></li>
                <li class="navlist"><a href="#" class="navitems">Contact-us</a></li>
            </ul>
        </nav>
    </div>

    </header>
    <div class="h1">
            <h1>
                Avary Support
            </h1>
    </div>

    <section class="contact">
        <h1 class="contact1">
            Contact Support
        </h1>

        <div class="contactp">
        <p class="contact2">
            <div class="p">Need assistance? Submit a request below and we will get to work!</div><br> 
            <div class="p1">If you think the problem is a bug
             and you don't find it in system<br> status or known issues,
             raise it here and we will collect full<br> details to report it to development.</div>
        
             <div class="p2">If you are an Avary<br> certified partner, please confirm you are logged in using<br> the account
                 associated with your business email address<br> (your company domain,
                 NOT</div> Avary domain, your<br> customer’s domain, or personal email domain).
        </p>
        <li class="navlists"><a href="https://wa.link/6sx2ze" class="navitemss">Send us a Whatsapp Message</a></li>
    </div>
    
    </section>
    
    
</body>
</html>