<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/cover.css">
    <title>Cover</title>
</head>
<body>
    <section class="sec1">
    
        <input type="checkbox" id="check">
        
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
    
        </label>
        
        <div class="sidebar">
            <header> Cover </header>
            <ul>
                <li><a href="http://127.0.0.1:5500/views/Overview.html"><i class="fas fa-qrcode"></i>Overview</a></li>
                <li><a href="#"><i class="fas fa-link"></i>Cover</a></li>
                <li><a href="http://127.0.0.1:5500/views/company.html#"><i class="fas -solid fa-building"></i>Company</a></li>
                <li><a href="http://127.0.0.1:5500/views/Executive-summary.html"><i class="fas fa-calendar-week"></i>Excutive-summary</a></li>
                <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
            </ul>
        </div>
    
        <div class="header-text">
            
            <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->
            
            <h1>
                Avary <span>Support</span> Team
            </h1>
        </div>
    </section> 

    <section>
        <div class="header">
            <div class="first-header">
                <h1>
                    Cover Page Information
                </h1>

                <p>
                    Please enter the information that you'd like to include on your cover page.
                </p>
            </div>

   <form action="#" onsubmit="validateNameInput(event)" id="formValidation">
    <div class="first-container">
        <div class="container">
            <h1 class="h1"> Company Name</h1>
            <div class="entryarea">
                <input type="text" required placeholder="Enter your Company name here" id="company">
                <div id="company-error-message" class="error"></div>
             </div>
        </div>

        <div class="container">
            <h1 class="h1"> Your Full Name</h1>
            <div class="entryarea">
                <input type="text" required placeholder="e.g., John Doe" name="name" id="name"> 
                <div id="name-error-message" class="error"></div>
             </div>
        </div>
        
    </div>

    <div class="first-container1">
        <div class="container">
            <h1 class="h1"> Your Title</h1>
            <div class="entryarea">
                <input type="text" required placeholder="Enter Your Title" id="Title">
                
             </div>
        </div>

        <div class="container">
            <h1 class="h1"> Email Address</h1>
            <div class="entryarea">
                <input type="text" required placeholder="Enter Your Email" id="email"> 
                <div id="email-error-message" class="error"></div>
                
             </div>
        </div>
        
    </div>

    <div class="first-container2">

    <div class="container">
        <h1 class="h1"> Street address</h1>
        <div class="entryarea">
            <input type="text" required placeholder="Enter Your Street Address here" id="Street Address"> 
            
         </div>
    </div>
</div>



<div class="first-container1">
    <div class="container">
        <h1 class="h1"> City</h1>
        <div class="entryarea">
            <input type="text" required placeholder="Enter Your City here" id="City">
            
         </div>
    </div>

    <div class="container">
        <h1 class="h1"> State / Province</h1>
        <div class="entryarea">
            <input type="text" required placeholder="Enter Your State here" id="State"> 
            
         </div>
    </div>

    <div class="container">
        <h1 class="h1"> ZIP / Postal code</h1>
        <div class="entryarea">
            <input type="text" required placeholder="Zip Code" id="Code"> 
            
         </div>
    </div>
</div>
<div class="form3">
    <button type="submit" class="btn" onclick="reDirecttoPage1()">Back to Dashboard</button>
     <button type="submit" class="btn" id="saveNextBtn">Save & Next</button>
</div>
         
</form>
    </section>

    <script src="../Js-folder/cover.js"></script>
    
</body>
</html>