<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/Dashboard.css">
    <title>Document</title>
</head>
<body>
<header id="header">
    <input type="checkbox" id="check">
    
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>

    </label>
    
    <div class="sidebar">
        <header>My Business </header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Overview</a></li>
            <li><a href="#"><i class="fas fa-link"></i>Cover</a></li>
            <li><a href="#"><i class="fas -solid fa-building"></i>Company</a></li>
            <li><a href="#"><i class="fas fa-calendar-week"></i>Excutive <summary></summary></a></li>
            <li><a href="#"><i class="fas -solid fa-industry"></i>Industry</a></li>
            <li><a href="#"><i class="fas -brands fa-intercom"></i>Customers</a></li>
            <li><a href="#"><i class="fas -solid fa-bullhorn"></i>Marketing</a></li>
        </ul>
    </div>

    
    <div class="text-header">
        <img src="./images/TEAM-ddb0dd07.png" alt="" class="img">
        <h1 class="h1">
            Avary Business Support Team
        </h1>

        
    
    <nav>
        <ul>
            <li class="navlist"><a href="http://127.0.0.1:5500/index.html" class="navitems">Home</a></li>
            <li class="navlist"><a href="" class="navitems">Projects</a></li>
            <li class="navlist"><a href="" class="navitems">Goals</a></li>
            <li class="navlist"><a href="" class="navitems">Teams</a></li>
        </ul>
        
    </nav>
</div>
<div class="tex">
    <h1 class="tex1">
        Let's Plan A <span>Business</span> 
    </h1>
    <h2 class="tex2">
        Start Building For <span>Free.</span>
    </h2>

    <div class="plan">
        <h1>
            You don't have a plan.
        </h1>

        <h2>
            Create a plan
        </h2>

        <button type="submit" id="btn-Signup" class="btn"> Create a plan here</button>
    </div>
</div>



        
</header>
</body>
<script>
    
var sidemeu = document.getElementById("sidemenu");

function openmenu(){
    sidemeu.style.right = "0";
}


function closemenu(){
    sidemeu.style.right = "-200px";
}

</script>
</html>