<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/Dashboard.css">
    <title>Document</title>
</head>
<body>
<header id="header">
    <input type="checkbox" id="check">
    
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>

    </label>
    
    <div class="sidebar">
        <header>My Business </header>
        <ul>
            <li><a href="http://127.0.0.1:5500/First-Project/views/Overview.html"><i class="fas fa-qrcode"></i>Overview</a></li>
            <li><a href="http://127.0.0.1:5500/views/cover.html"><i class="fas fa-link"></i>Cover</a></li>
            <li><a href="#"><i class="fas -solid fa-building"></i>Company</a></li>
            <li><a href="#"><i class="fas fa-calendar-week"></i>Excutive <summary></summary></a></li>
            <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
            <!-- <a href="http://127.0.0.1:5500/First-Project/index.html"><button type="reset" id="btn-Signups" class="btns">Logout</button></a> -->
        </ul>
    </div>

<div class="hero">
    <nav>
        <ul>
            <li><a href="" class="navitems">Home</a></li>
            <li><a href="" class="navitems">Features</a></li>
            <li><a href="" class="navitems">About</a></li>
            <li><a href="" class="navitems">Contact</a></li>
        </ul>
        <div class="user-pic" >
            <img src="../images/Screenshot_26.png" alt="" onclick="toggleMenu()" id="imageElementId">
        </div>

       
        

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <div class="user-info-img">
                        <img src="../images/Screenshot_26.png" alt=""  id="imageElementId2" >
                    </div>
                    
                    <h2 id="dashboardName">Jonathan Prosper</h2>
                </div>
                <hr>
                <a href="../user-profile-journey/edit-profile.html" class="sub-menu-link">
                    <img src="../images/icon for user profile.webp" alt=""  >
                    <p >Edit Profile</p>
                    <span>></span>
                </a>
               
                <a href="#" class="sub-menu-link">
                    <img src="../images/icon for setting.jpg" alt="">
                    <p>Settings & Privacy</p>
                    <span>></span>
                </a>
                
                <a href="#" class="sub-menu-link">
                    <img src="../images/icon for help.png" alt="">
                    <p>Settings & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="../images/icon for logout.jpg" alt="">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-hidden" id="subMenu1" >
    <div class="profile-container"  >
        <img id="profilePicture" src="https://via.placeholder.com/100" alt="Profile Picture">
        <label for="profileImage">Change Photo</label>
        <input type="file" id="profileImage" accept="image/*">

        <form id="profileForm">
            <input type="text" id="name" placeholder="Name" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Save Changes</button>
        </form>
        
    <!-- <h2 id="dashboardName">Jonathan Prosper</h2> -->
    </div>

</div>
</div>
<div class="tex">
    <h1 class="tex1">
        Let's Plan A <span>Business</span> 
    </h1>
    <h2 class="tex2">
        Start Building For <span>Free.</span>
    </h2>

    <div class="plan">
        <h1>
            You don't have a plan.
        </h1>

        <h2>
            Create a plan
        </h2>

        <a href="http://127.0.0.1:5500/First-Project/views/Overview.html"><button type="submit" id="btn-Signup" class="btn"> Create a plan here</button></a>
    </div>
</div>



        
</header>
</body>

<script src="../Js-folder/dashboard.js"></script>
</html>