<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/Executive-summary.css">
    <title>Executive-summary</title>
</head>
<body>
    <section class="sec1">
    
        <input type="checkbox" id="check">
        
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
    
        </label>
        
        <div class="sidebar">
            <header>Dashboard </header>
            <ul>
                <li><a href="http://127.0.0.1:5500/views/Overview.html"><i class="fas fa-qrcode"></i>Overview</a></li>
                <li><a href="http://127.0.0.1:5500/views/cover.html"><i class="fas fa-link"></i>Cover</a></li>
                <li><a href="#"><i class="fas -solid fa-building"></i>Company</a></li>
                <li><a href="#"><i class="fas fa-calendar-week"></i>Excutive-summary</a></li>
                <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
            </ul>
        </div>
    
        <div class="header-text">
            
            <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->
            
            <h1>
                Avary <span>Support</span> Team
            </h1>
        </div>
    </section> 

<section>
    <div class="header">
        <div class="text">
            <h1>
                Business Overview   
            </h1>

            <p>
                Your Business Overview section goes here
            </p>
        </div>

        <form action="">
            <div class="container-right">
                <textarea name="Message" rows="6" placeholder="Your Message" class="textarea"></textarea>
            </div>
           
        </form>

        <div class="form3">
            <button class="btnn" onclick="location.href='http://127.0.0.1:5500/views/company.html#'">Back to Business Plan</button>
            <button class="btn" onclick="location.href='http://127.0.0.1:5500/views/industry.html'">Save & Next</button>
        </div>
    </div>
</section>
</body>
</html>