<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/industry.css">
    <title>Document</title>
</head>
<body>
    <section class="sec1">
    
        <input type="checkbox" id="check">
        
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
    
        </label>
        
        <div class="sidebar">
            <header>Dashboard </header>
            <ul>
                <li><a href="http://127.0.0.1:5500/views/Overview.html"><i class="fas fa-qrcode"></i>Overview</a></li>
                <li><a href="http://127.0.0.1:5500/views/cover.html"><i class="fas fa-link"></i>Cover</a></li>
                <li><a href="http://127.0.0.1:5500/views/company.html#"><i class="fas -solid fa-building"></i>Company</a></li>
                <li><a href="http://127.0.0.1:5500/views/Executive-summary.html"><i class="fas fa-calendar-week"></i>Excutive-summary</a></li>
                <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
            </ul>
            
        </div>
    
        <div class="header-text">
            
            <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->
            
            <h1>
                Avary <span>Support</span> Team
            </h1>
        </div>
    </section> 

    <section>
        <div class="header">
            <div class="text">
                <h1>
                    Relevant Market Size
                </h1>

                <p>
                    Your relevant market size is the annual revenue your company could attain if it 
                    owned 100% market share. <br> Answer the two questions below and we will calculate it for you.
                </p>
            </div>

            
              

            <form action="">
                <div class="text1">
                    <div class="container">
                        <div class="entryarea">
                            <input type="text" required placeholder="Enter the number of potential customers for your products." class="txt1">
                            
                         </div>
                    </div>
                
                </div>



                <div class="text2">
                    <div class="container2">
                        <div class="entryarea2">
                            <input type="text" required placeholder="Enter the annual amount customers may spend on your products or services." class="txt2">
                            
                         </div>
                    </div>
                
                </div>
            </form>
               
            
           

            
        <div class="form3">
            <button class="btnn" onclick="itValidinput1()">Back to Business Plan</button>
            <button class="btn">Save & Next</button>
        </div>
        
    </section>

    <script src="../Js-folder/industry.js"></script>
</body>
</html>