<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <link rel="stylesheet" href="../lib/login.css">
    <title>Log in</title>
</head>
<body>
    
    <div class="wrapper">

            <span class="bg-animate"></span>

        <div class="form-box login">
            <h2>Login</h2>
            <form  id="login-form">
                <div class="input-box">
                    <input type="email" required id="email">
                    <label for="email">Email</label>
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="input-box">
                    <input type="password" required id="password">
                    <label for="password" id="pass_words">Password</label>
                    <i class="fa-solid fa-lock"></i>
                </div>

               
                <button type="submit" class="btn" >Login</button>
                <div class="logreg-link">
                    <p>Don't have an account? <a href="sign-up.html" class="register-link">Sign Up</a></p>
                </div>
            </form>
        </div>
        <div class="info-text login">
            <h2>Welcome Back!</h2>
            <p>The  Avary Business Support team is a dedicated group of professionals committed to 
                fostering success for new entrepreneurs. With a wealth of expertise in various industries. 
               </p>
        </div>
    </div>

    <script src="../Js-folder/login.js"></script>
</body>
</html>