<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/Overview.css">
    <title>Overview</title>
</head>
<body>
    <section class="sec1">
    
    <input type="checkbox" id="check">
    
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>

    </label>
    
    <div class="sidebar">
        <header> Overview </header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Overview</a></li>
            <li><a href="http://127.0.0.1:5500/views/cover.html"><i class="fas fa-link"></i>Cover</a></li>
            <li><a href="http://127.0.0.1:5500/views/company.html#"><i class="fas -solid fa-building"></i>Company</a></li>
            <li><a href="http://127.0.0.1:5500/views/Executive-summary.html"><i class="fas fa-calendar-week"></i>Excutive-summary</a></li>
            <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
        </ul>
    </div>

    <div class="header-text">
        
        <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->

       
        
        <h1>
            Avary <span>Support</span> Team
        </h1>
    </div>
</section>

<section class="sec2">
     <div class="second-hearder">
        <h1 class="text1">
            Overview
        </h1>

        <h2 class="text2">
            Is this a new or existing company?
        </h2>

        <p class="text3">
            Choose if your company is new or an existing one.
        </p>

        <form action="">
            <input type="radio" name="firstGender"  id="New Company" value="New Company">New Company
            <br>
            <br>
            <input type="radio" name="firstGender" id=" Existing Company" value="Existing Company">Existing Company
        </form>

        <h1 class="text4">
            In what industry do you operate?
        </h1>
              <p>
                Choose from any of this:
              </p>



        <div class="dropdown">
            <button class="dropdown-button">
                Main Industry
                <i class="icon"></i>
            </button>
            <div class="dropdown-content">
                <input type="radio" name="gender" id="inPut1" value="Consumer Service" class="customerclass">Agriculture
                <br>
                <br>
                <input type="radio" name="gender" id="inPut2" value="Arts & Entertainment">Oil and Gas
                <br>
                <br>
                <input type="radio" name="gender" id="inPut3" value="Automotive">Banking and Finance
                <br>
                <br>
                <input type="radio" name="gender" id="inPut4" value="Bar & Nightclub">Telecommunications
                <br>
                <br>
                <input type="radio" name="gender" id="inPut5" value="Beauty/Hair Salon & Day Spa">Construction and Real Estate
                <br>
                <br>
                <input type="radio" name="gender" id="inPut6" value="Business Service">Manufacturing
                
                <br>
                <br>
                <input type="radio" name="gender" id="Consumer Service" value="Consumer Service" class="customerclass">Transportation and Logistics
                <br>
                <br>
                <input type="radio" name="gender" id="Arts & Entertainment" value="Education">Education
                <br>
                <br>
                <input type="radio" name="gender" id="Automotive" value="Healthcare and Pharmaceuticals">Healthcare and Pharmaceuticals
                <br>
                <br>
                <input type="radio" name="gender" id="Bar & Nightclub" value="Retail and E-commerce">Retail and E-commerce
                <br>
                <br>
                <input type="radio" name="gender" id="Beauty/Hair Salon & Day Spa" value="Media and Entertainment">Media and Entertainment
                <br>
                <br>
                <input type="radio" name="gender" id="Business Service" value="Software Development">Software Development
                <br>
                <br>
                <input type="radio" name="gender" id="Consumer Service" value="Consumer Service" class="customerclass">Hospitality and Tourism
                <br>
                <br>
                <input type="radio" name="gender" id="Arts & Entertainment" value="Energy">Energy
                <br>
                <br>
                <input type="radio" name="gender" id="Automotive" value="Mining and Solid Minerals">Mining and Solid Minerals
                <br>
                <br>
                <input type="radio" name="gender" id="Bar & Nightclub" value="Bar & Nightclub">Bar & Nightclub
                <br>
                <br>
                <input type="radio" name="gender" id="Beauty/Hair Salon & Day Spa" value="Beauty/Hair Salon & Day Spa">Beauty/Hair Salon & Day Spa
                <br>
                <br>
                <input type="radio" name="gender" id="BusinessService" value="Business Service">Business Service
            </div>
        </div>
  

    <div class="form2">
            <h1>
                Will you be seeking funding for your business plan?
            </h1>
            <br>
        <form action="">
            <input type="radio" name="genders" id="InputofYes">Yes
            <br>
            <br>
            <input type="radio" name="genders" id="InputofYes">No
            <br>
            <br>
            <input type="radio" name="genders" id="InputofYes">Not Sure
        </form>
    </div>

        <div class="form3">
            <button class="btn" onclick="reDirecttoPage1()">Back to Dashboard</button>
            <button class="btn" onclick="reDirecttoPage2()">Save & Next</button>
            <!-- <a href="../views/cover.html"><input type="submit" class="btn" onclick="text()" value="Save & Next" ></a> -->
        </div>
     </div>

     
    </section>

    <p id="timeID"></p>
    
    <script src="../Js-folder/overview.js"></script>
    
</body>
</html>