<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/Overview.css">
    <title>Overview</title>
</head>
<body>
    <section class="sec1">
    
    <input type="checkbox" id="check">
    
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>

    </label>
    
    <div class="sidebar">
        <header>My Business </header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Overview</a></li>
            <li><a href="#"><i class="fas fa-link"></i>Cover</a></li>
            <li><a href="#"><i class="fas -solid fa-building"></i>Company</a></li>
            <li><a href="#"><i class="fas fa-calendar-week"></i>Excutive <summary></summary></a></li>
            <li><a href="#"><i class="fas -solid fa-industry"></i>Industry</a></li>
            <li><a href="#"><i class="fas -brands fa-intercom"></i>Customers</a></li>
            <li><a href="#"><i class="fas -solid fa-bullhorn"></i>Marketing</a></li>
        </ul>
    </div>

    <div class="header-text">
        
        <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->
        
        <h1>
            Avary <span>Support</span> Team
        </h1>
    </div>
</section>

<section class="sec2">
     <div class="second-hearder">
        <h1 class="text1">
            Overview
        </h1>

        <h2 class="text2">
            Is this a new or existing company?
        </h2>

        <p class="text3">
            Choose if your company is newly incorporated or an existing one.
        </p>

        <form action="">
            <input type="radio" name="gender" checked>New Company
            <br>
            <br>
            <input type="radio" name="gender"> 
            Existing Company
        </form>

        <h1 class="text4">
            In what industry do you operate?
        </h1>
              <p>
                Choose from any of this:
              </p>

        <form action="">
            <br>
            <br>
            <input type="radio" name="gender">Consumer Service
            <br>
            <br>
            <input type="radio" name="gender">Arts & Entertainment
            <br>
            <br>
            <input type="radio" name="gender">Automotive
            <br>
            <br>
            <input type="radio" name="gender">Bar & Nightclub
            <br>
            <br>
            <input type="radio" name="gender">Beauty/Hair Salon & Day Spa
            <br>
            <br>
            <input type="radio" name="gender">Business Service
        </form>

        <div class="form2">
            <h1>
                Will you be seeking funding for your business plan?
            </h1>

            <button class="btn">Yes</button>
            <button class="btn">No</button>
            <button class="btn">Not Sure</button>
        </div>

        <div class="form3">
            <button class="btnn">Back to Business Plan</button>
            <button class="btn">Save & Next</button>
        </div>
     </div>
</section>
    
    
</body>
</html>