<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5412624264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../lib/Overview.css">
    <title>Overview</title>
</head>
<body>
    <section class="sec1">
    
    <input type="checkbox" id="check">
    
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>

    </label>
    
    <div class="sidebar">
        <header>My Business </header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Overview</a></li>
            <li><a href="http://127.0.0.1:5500/views/cover.html"><i class="fas fa-link"></i>Cover</a></li>
            <li><a href="http://127.0.0.1:5500/views/company.html#"><i class="fas -solid fa-building"></i>Company</a></li>
            <li><a href="http://127.0.0.1:5500/views/Executive-summary.html"><i class="fas fa-calendar-week"></i>Excutive-summary</a></li>
            <li><a href="http://127.0.0.1:5500/views/industry.html"><i class="fa-solid fa-industry"></i>industry</a></li>
            <li><a href="http://127.0.0.1:5500/views/Dashboard.html?"><!--<i class="fas fa-link"></i>-->Home Page</a></li>
        </ul>
    </div>

    <div class="header-text">
        
        <!-- <img src="../images/TEAM-ddb0dd07.png" alt="" class="image"> -->
        
        <h1>
            Avary <span>Support</span> Team
        </h1>
    </div>
</section>

<section class="sec2">
     <div class="second-hearder">
        <h1 class="text1">
            Overview
        </h1>

        <h2 class="text2">
            Is this a new or existing company?
        </h2>

        <p class="text3">
            Choose if your company is newly incorporated or an existing one.
        </p>

        <form action="">
            <input type="radio" name="gender"  id="New Company" value="New Company">New Company
            <br>
            <br>
            <input type="radio" name="gender" id=" Existing Company" value="Existing Company">Existing Company
        </form>

        <h1 class="text4">
            In what industry do you operate?
        </h1>
              <p>
                Choose from any of this:
              </p>

        <form action="">
            <br>
            <br>
            <input type="radio" name="gender" id="Consumer Service" value="Consumer Service">Consumer Service
            <br>
            <br>
            <input type="radio" name="gender" id="Arts & Entertainment" value="Arts & Entertainment">Arts & Entertainment
            <br>
            <br>
            <input type="radio" name="gender" id="Automotive" value="Automotive">Automotive
            <br>
            <br>
            <input type="radio" name="gender" id="Bar & Nightclub" value="Bar & Nightclub">Bar & Nightclub
            <br>
            <br>
            <input type="radio" name="gender" id="Beauty/Hair Salon & Day Spa" value="Beauty/Hair Salon & Day Spa">Beauty/Hair Salon & Day Spa
            <br>
            <br>
            <input type="radio" name="gender" id="Business Service" value="Business Service">Business Service
        </form>

        <div class="form2">
            <h1>
                Will you be seeking funding for your business plan?
            </h1>

            <button class="btn" id="Yes" value="Yes">Yes</button>
            <button class="btn" id="No" value="No">No</button>
            <button class="btn" id="Not Sure" value="Not Sure">Not Sure</button>
        </div>

        <div class="form3">
            <button class="btnn">Back to Business Plan</button>
            <!-- <button class="btn" onclick="location.href='http://127.0.0.1:5500/views/cover.html'">Save & Next</button> -->
            <a href="http://127.0.0.1:5500/views/cover.html"><input type="submit" class="btn" onclick="text()" value="Save & Next" ></a>
        </div>
     </div>

     
    </section>
    
    <script src="../Js-folder/company.js"></script>
    
</body>
</html>